
body>.container,
body>.container-fluid {
  padding: 60px 15px 0;
}

section{
  display:none;
}
section.active{
  display: block;
}
.form-control[type=number]{
  padding:0;
}
.question{
  padding: 1em;
}
.question-group{
  display:none;
}
.question-control{
  margin: 1em;
}
.question div{
  border: 1px solid;
}
#basic {

}
.morning{
  background-image: linear-gradient(65deg, #fbf4e4, #f1cf84);
}
.midday{
  background-image: linear-gradient(65deg, #eaf1f3, #98c4d1);
}
.afternoon{
  background-image: linear-gradient(65deg, #e2c498, #c36b19);
}
.night{
  background-image: linear-gradient(65deg, #6680a6, #192e4e);
}
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.question {
  height: 90%;
  text-align: center;
  border: 1px solid;
}

.question-label {
  margin: 1em;
}
.question_index{
  display: inline;
  padding-left: 0;
}
.question_index li{
  list-style: none;
  display: inline-block;
}
