<div class="row">
 {%for value in question.values %}
  {% assign answer_id = question_id | append: "_" | append: forloop.index %}
  {% assign width = 12 | divided_by: question.values.size %}
  <div class="col-{{width}}">
    <input class="answer btn btn-outline-danger col" type="button" id="{{answer_id}}" data-id="{{answer_id}}" data-value="{{value.value}}" data-detail="true" data-detail-target="#{{answer_id}}_detail" value="{{value.name}}">
    <div id="{{answer_id}}_detail" class="col-md-auto radio-detail" style="display:none">
      <div class="form-group">
        <label class="form-label" for="{{answer_id}}_quantity">Cantidad</label>
        <input data-id="{{question_id}}" data-answer-id="{{answer_id}}" class="form-control answer-quantity" type="number" name="{{answer_id}}_quantity" id="{{answer_id}}_quantity">
      </div>
      <div class="form-group">
        <label class="form-label" for="{{answer_id}}_frequency">Frecuencia</label>
        <input data-id="{{question_id}}" data-answer-id="{{answer_id}}" class="form-control answer-frequency" type="number" name="{{answer_id}}_frequency" id="{{answer_id}}_frequency">
      </div>
    </div>
  </div>
{%endfor%}
</div>
