 {%for value in question.values %}
 {% assign answer_id = question_id | append: "_" | append: forloop.index %}
 <div class="row" style="padding-bottom:1em">
  <div class="col">
    <label>{{value.name}}</label>
    <div>
      <input class="rating" data-max="5" data-min="1" id="some_id" name="your_awesome_parameter" type="number" />
    {% for i in (question.options.min..question.options.max)%}
      <!--input class="answer star" type='button' data-id='{{answer_id}}' data-value="{{i}}" data-next="{{next_question}}" name='{{question_id}}' value='{{i}}' data-redirect='false'-->
    {% endfor %}
    </div>
  </div>
</div>
{%endfor%}
