<ul class="list-group">
{%for value in question.values %}
  {% if value.next %}
    {% assign next_question = value.next %}
  {% endif %}
  <li class="list-group-item">
    {% if value.icon %}
      <figure class='figure answer' data-id="{{question_id}}" data-value="{{value.value}}" data-next="{{next_question}}">
      {% if value.icon!='' %}
         <img src="{{value.icon}}" class="img-thumbnail mx-auto d-block" alt="{{value.name}}"/>
      {%else%}
         <img data-src="holder.js/150x150" class=" img-thumbnail mx-auto d-block" alt="{{value.name}}"/>
      {%endif%}
      <figcaption class='figure-caption'>{{value.name}}</figcaption>
    </figure>
    {% else %}
      <input class="answer btn btn-outline-danger col-md-3" type="button" id="{{question_id}}" data-id="{{question_id}}" data-value="{{value.value}}" data-next="{{next_question}}" value="{{value.name}}">
    {% endif%}
  </li>
  {%endfor%}
</ul>
