<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% if page.title %}{{ page.title | capitalize }} | {% endif %}{{ site.title }}</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  {% include header.html %}
  <main id="main-container" class="container">
    <form>
      <section id="1_1" class="container main active">
        <div class="question row justify-content-md-center align-items-center">
          <div class='col-md-10'>
            <h1>{% if page.title %}{{ page.title | capitalize }} | {% endif %}{{ site.title }}</h1>
            <p>En la ciudad de Madrid, cada habitante genera un kilo de basura por día.</p>
            <p>¿Cuánto crees que gastas en comparación con la media?</p>
            <p>
              <button class="answer btn btn-secondary action" data-next='1_2' data-id="1_1" data-value='more'>Más</button>
              <button class="answer btn btn-secondary action" data-next='1_2' data-id="1_1" data-value='less'>Menos</button>
            </p>
            <div class="col-md">
              <p class="text-muted">Este proyecto no almacena ningún dato sobre los usuarios. Rellenar el cuestionario requiere aproximadamente cinco minutos. Los resultados deben considerarse una estimación.</p>
              <p class="text-muted">Proyecto realizado en el Taller de Periodismo de Datos 2018 en Medialab-Prado.</p>
            </div>
          </div>
        </div>
      </section>
      {% assign sections = "basic,morning,midday,afternoon,night" | split :","%}
      {% for section in sections %}
        {% assign questions = site.data.questions | where:"section",section | sort: 'id' %}
        {% assign questions_size = questions | size %}
        {% for question in questions %}
          {% assign question_id = question.id %}
          {% assign prev_question = 'home' %}
          {% if forloop.index0 > 0 %}
            {% assign index = forloop.index0 | minus: 1 %}
            {% assign prev_question = questions[index].id %}
          {% endif %}
          {% assign next_question = questions[forloop.index].id %}
          {% include question.html %}
          {% assign display = "none" %}
        {% endfor %}
      {% endfor %}

      <section id="finish" class="container-fluid">
        <div class="question row justify-content-md-center align-items-center">
          <div class='col-md-auto'>
            <p>Tras un duro día llega el momento de dormir y de conocer la cantidad de residuos que has producido a lo largo del día</p>
          </div>
        </div>
      </section>
    </form>
  </main>
  {% include footer.html %}
  <script rel="javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
  <script rel="javascript" src="node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script rel="javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script rel="javascript" src="/js/main.js"></script>
  <!-- Development -->
  <script rel="javascript" src="node_modules/holderjs/holder.min.js"></script>
</body>

</html>
